/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'base/epiceditor';  
@import 'preview/bartik';  
@import 'preview/github';  
@import 'preview/preview-dark';  
@import 'editor/epic-dark';  
@import 'editor/epic-light';

body {
  color: black;
}

.actions {
  clear: both;
}

.container{
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.inlineDiv{
 display: inline-block;
}

#epiceditor, #preview {
  position: relative;
  border-radius: 5px;
  border: 1px solid black;
  width: 40%;
  float: left;
  margin-left: 5%;
}

#note_inputText { 
  display: none;
}

#save{
  display: center;
}
