<h1>Editor#index</h1>
<p>Find me in app/views/editor/index.html.erb</p>
<!-- this textarea should be hidden if we are to use it for database storage -->
<textarea id="inputText"></textarea>
<%= @epicHello %>
<div id="epiceditor"></div>
<div id="preview"></div>

<%= javascript_include_tag "EpicEditor/epiceditor/js/epiceditor.js" %>
<script>
  var options = {
    container: 'epiceditor',
    textarea: 'inputText',
    buttons: false,
    autogrow: true
  }
  
  var editor = new EpicEditor(options).load();

  editor.on('update', function(){
    document.querySelector('#preview').innerHTML = this.exportFile(null, 'html');
  }).emit('update');
</script>
    
</script>