<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Home</title>
    </head>
    <body>
        <div class="container">
        <header>
            <h1>Home#textEditor</h1>
            <label for="mysearch">Enter the title here: </label>
            <input id="mysearch" type="search" placeholder="search">
            </br>
            <label for="mysearch2">Enter the tag here: </label>
            <input id="mysearch2" type="search" placeholder="search">
            <button id="searchTag" type="button">Search Tag</button><br>
            <%=link_to 'New Note', controller: 'notes', action: 'new' %>
          	
            	
            


        </header>
       
        <footer><h4></h4>Copyright <%=Date.today.year %> TeamBroBeans</h4></footer>
        </div>
    </body>
</html>